
<div class="hero-image-about">
  <div class="container">
    <div class="row">
      <div class="col-xm-12 hero-title-container">
        <h1>Contact</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="green">Let's get in touch</h2>
      <form action="">
        <div class="form-group">
          <label class="lightBrown">Full Name</label>
          <input placeholder="Full Name" type="text" maxlength="255555" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="lightBrown">Phone Number</label>
          <input placeholder="(xxx) xxx-xxxx" type="text" maxlength="10" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="lightBrown">Email</label>
          <input placeholder="your@url.com" type="email" maxlength="10" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="lightBrown">Subject</label>
          <input placeholder="Hello" type="text" maxlength="20" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="lightBrown">Message</label>
          <textarea placeholder="Hello..." type="text" maxlength="300" class="form-control"></textarea>
          <button type="button" class="button green"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <h2 class="green">Address</h2>
      <p class="lightBrown">1234 NE Amazin St.</p>
      <p class="lightBrown">Portland, Oregon 97124</p>
      <h2 class="green">Phone</h2>
      <p class="lightBrown">(xxx) xxx-xxxx</p>
      <h2 class="green">Email</h2><a href="mailto:info@medeinalumber.com" class="lightBrown contact-us-link">info@medeinalumber.com</a>
    </div>
  </div>
</div>