
<footer>
  <div class="footer-container container">
    <div class="row">
      <div class="col-sm-5">
        <h3 class="lightBrown">Contact Us</h3>
        <h4 class="white">Email:&nbsp;<a href="mailto:info@medeinalumber.com?Subject=Hello" class="white footer-link-size">info@medeinalumber.com</a></h4>
        <h4 class="white">Call: (503) 912-3456</h4>
      </div>
      <div class="col-sm-3">
        <h3 class="lightBrown">Navigation
          <ul class="footer-navigation">
            <li><a href="/home" class="white">Home</a></li>
            <li><a href="/products" class="white">Products</a></li>
            <li><a href="/about" class="white">About</a></li>
            <li><a href="/contact" class="white">Contact</a></li>
          </ul>
        </h3>
      </div>
      <div class="col-sm-4">
        <h3 class="lightBrown">Follow Us
          <ul class="footer-navigation follow-us">
            <li><a href="" class="white"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="" class="white"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="" class="white"><i class="fa fa-yelp"></i></a></li>
          </ul>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h6 class="lightBrown">&copy; Medeina Lumber, LLC</h6>
      </div>
      <div class="col-sm-4">
        <h6 class="lightBrown text-right">Website by<a href="http://www.dannielrolfe.com" class="lightBrown"> ROLFE Consulting</a></h6>
      </div>
    </div>
  </div>
</footer>