
<div class="hero-image">
  <div class="container">
    <div class="row">
      <div class="col-xm-12 hero-title-container">
        <h1>Median Lumber prides itself on offering the highest quality forest products</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="green">Something</h2>
        <p>Medeina Lumber is a lumber distributor and brokerage firm based in Portland, Oregon. We are committed to supplying premium forest products at affordable prices.</p>
        <p>Medeina Lumber is affiliated with a number of mills across the continental United States and provides wood products to retailers and wholesale distributors across the Pacific Northwest. Most importantly, we take pride in our experience and friendly sales professionals dedicated to providing you with expert advice and exceptional service. Follow the link below to learn more about our products.</p><a href="#/products" class="large-button green">Learn More</a>
      </div>
    </div>
  </div>
</div>