div.hero-image-about
    div.container
        div.row
            div.col-xm-12.hero-title-container
                h1 Contact
div.container
    div.row
        div.col-md-8
          h2.green Let's get in touch
          form(action="")
            div.form-group
                label.lightBrown Full Name
                input(placeholder="Full Name" type="text" maxlength="255555").form-control
            div.form-group
                label.lightBrown Phone Number
                input(placeholder="(xxx) xxx-xxxx" type="text" maxlength="10").form-control
            div.form-group
                label.lightBrown Email
                input(placeholder="your@url.com" type="email" maxlength="10").form-control
            div.form-group
                label.lightBrown Subject
                input(placeholder="Hello" type="text" maxlength="20").form-control
            div.form-group
                label.lightBrown Message
                textarea(placeholder="Hello..." type="text" maxlength="300").form-control

                button(type="button").button.green <i class="fa fa-paper-plane" aria-hidden="true"></i> Send

