footer
    div.footer-container
        div.row
            div.col-sm-4
                h3.lightBrown Contact Us
                h4.white Email:&nbsp;
                    a(href="mailto:info@medeinalumber.com?Subject=Hello").white.footer-link-size info@medeinalumber.com
                h4.white Call: (503) 912-3456

            div.col-sm-4
                h3.lightBrown Navigation
                    ul.footer-navigation
                        li
                            a(href="/home").white Home
                        li
                            a(href="/products").white Products
                        li
                            a(href="/about").white About
                        li
                            a(href="/contact").white Contact

            div.col-sm-4
                h3.lightBrown Follow Us
                    ul.footer-navigation.follow-us
                        li
                            a(href="").white
                                i.fa.fa-linkedin-square
                        li
                            a(href="").white
                                i.fa.fa-facebook-square
                        li
                            a(href="").white
                                i.fa.fa-yelp
        div.row
            div.col-sm-6
                h6.lightBrown &copy; Medeina Lumber, LLC
            div.col-sm-6
                h6.lightBrown Website by
                    a(href="http://www.dannielrolfe.com").lightBrown  ROLFE Consulting
