footer
    div.container
        div.row
            div.col-sm-4
                h3.lightBrown Contact Us

                h4.lightBrown Email:
                    a(href="mailto:info@medeinalumber.com?Subject=Hello") info@medeinalumber.com
                h4.lightBrown Call:
                    p (503) 912-3456
