doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title= title

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //Bootstrap
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')

    //Main CSS
    link(rel='stylesheet', href='/stylesheets/styles.css')

   body(ng-app="medeinalumber")
    nav.navbar(role="navigation")
        div.container
            div.navigation
                a(href="/")
                  img(src='/images/medeina-lumber-logo.png')
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="#products") Products
                    li
                        a(href="#about") About
                    li
                        a(href="#contact") Contact

    block content


    //jQuery
    script(src="/lib/jquery/dist/jquery.min.js")

    //Angular JS
    script(src='/lib/angular/angular.min.js')

    //Angular Route
    script(src='/lib/angular-route/angular-route.min.js')

    //Bootstrap JS
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')

    // TypeKit
    <script src="https://use.typekit.net/qoc4xuk.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    //App.js
    script(src="/javascript/app.js")
