a.button, button.button {
  font-size: ms(-1);
  border: solid 4px $green;
  padding: 5px 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

a.button.green:hover, a.button.green:focus, button.button:hover, button.button:focus {
  background: rgba($green, 0.1);
  color: darken($green, 5%);
  border-color: darken($green, 5%);
}

button.button {
  background: rgba(0,0,0,0);
  margin-top: 20px;
}

.contact-us-link:hover, .contact-us-link:focus {
     color: darken($lightBrown, 25%);
     text-decoration: none;
 }

