.hero-image {
    background-image: url(/images/medeina-lumber-hero.jpg);
    background-position: center bottom;
    height: 200px;
    width: 100%;
    margin-top: -11px;
}


@media screen and (max-width$break-md) {
    .hero-image {
      height: 500px;
    }
}

