.navigation-container {
    width: 100%;
}
.navbar {
    margin-bottom: 10px !important;
}

nav.navbar {
    border: none;
}
.navigation {

    img {
        margin: 0 auto;
        display: block;
        margin-top: 5px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        float: right;
        line-height: 46px;
        position: static;
        display: none;

        a {
            :hover, :focus {
                color: $white;
                height: 40px;
                line-height: 40px;
            }
        }
      }

    li {
        margin-right: 1px;
        margin-bottom: 1px;
        width: 100%;

            :hover, :focus {
                color: $white;
                background-color: $green;
            }

          ul {

            display: none;

              li {
                display: none;

                      a {
                        width: 100%;
                        min-width: 100px;
                        padding: 0 20px;

                      }
                }
            }
      }

     ul {
        a {
          font-family: $title;
          font-size: 20px;
          min-width: 140px;
          text-align: center;
          line-height: 50px;
          color: $brown;
          background: $lightBrown;
          text-decoration: none;
          padding: 13px;

          :hover, :focus {
              color: $brown;
            }

                li {

                      a {
                          :hover + .hidden:hover {

                             display: block;

                          }

                      }
                  }
            }

      }
}

.show-menu {
    font-family: $title;
    text-decoration: none;
    color: $white;
    background: $brown;
    text-align: center;
    padding: 10px 0;
    display: block;
    margin: 15px 0 0 0;;
}

ul#menu {
    width: 100%;
    margin: 0px;
    background-color: $lightBrown;
}

input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked ~ #menu {
    display: block;
}

@media screen and (min-width: $break-lg) {
    .navigation {
      padding-bottom: 15px;
    }

    .navigation img {
      display: inline-block;
      margin-left: 15px;
    }

    #menu {
      display: inline-block;
    }

    label.show-menu {
      display:none;
    }

    ul#menu {
      background-color: rgba($lightBrown, 0);
      float: right;
      width: 35%;
    }

    .navigation  li {
      display: inline;
    }

    .navigation ul a {
        background: rgba($lightBrown, 0);
      }
}



