h1, h2, h3, h4, h5, h6 {
    font-family: $title;
}

p {
    font-family: $content;
}

a {
    font-family: $title;
}
h1 {
    font-size: ms(0.25);
    color: $white;
}

h2 {
    font-size: ms(0);
}

h3 {
    font-size: ms(-0.25);
}

h4 {
    font-size: ms(-0.50);
}

h5, .footer-link-size {
    font-size: ms(-1);
}

h6 {
    font-size: ms(-1.25);
}

p {
    font-size: ms(-0.5);
}
.hero-title-container {
    margin: 1em;
}

a {
  font-size: ms(-0.5);
}

ul.footer-navigation {
  a {
    font-size: ms(-1);
  }
}

footer {
  a:hover {
    color: darken($lightBrown, 25%);
    text-decoration: none;
  }
}


@media screen and (min-width: $break-md) {
    h1 {
      font-size: ms(2);
    }


}
